body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/*Estilo de cabeçalho */

header {
    background-color: rgba(52, 152, 219, 0.30)
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 1440px;
    height: 716px;  
    flex-shrink: 0;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.titulocabe{
    width: 437px;
    height: 80px;
    flex-shrink: 0;
    color: #026483;
    font-family: Island Moments;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.itemum{
    color: #026483;
    font-family: Istok Web;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.itemdois{
    color: #026483;
    font-family: Istok Web;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.itemtres{
    color: #026483;
    font-family: Istok Web;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.itemquatro{
    color: #026483;
    font-family: Istok Web;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/*Estilo de conteúdo principal*/
main {
    background-position-x: 240;
    background-position-y: 40;
    width: 1440px;
    height: 716px;
    flex-shrink: 0;
    padding: 20px;
    background-color:  rgba(52, 152, 219, 0.30);

}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/*Estilo de rodapé */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/*Estilo dos links no rodapé */

footer a {
    color: #fff;
    text-decoration: none;
}
