body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/*Estilo de cabeçalho */

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


.itemum{
    text-align: right;
}

.itemdois{
    text-align: right;
}

.itemtres{
    text-align: right;
}


/*Estilo de conteúdo principal*/
main {
    background-position-x: 240;
    background-position-y: 40;
    width: 1440px;
    height: 716px;
    padding: 20px;
    background-color: #3498db 40%;

}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/*Estilo de rodapé */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/*Estilo dos links no rodapé */

footer a {
    color: #fff;
    text-decoration: none;
}
